*.properties
src/SprechFenster/build/classes/sprechfenster/MainFXMLController.class
*.class
src/SprechFenster/build/classes/sprechfenster/resources/fxml/MainFXML.fxml
src/SprechFenster/build/classes/sprechfenster/resources/fxml/NewTournamentDialog.fxml
src/SprechFenster/build/classes/sprechfenster/resources/fxml/NewFencerDialog.fxml
src/SprechFenster/build/classes/sprechfenster/resources/images/FencerDefaultPicture.png
src/SprechFenster/dist/SprechFenster.html
*.jar
src/SprechFenster/dist/SprechFenster.jnlp
src/SprechFenster/nbproject/private/private.xml